/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #9077B1;
    padding: 1em 0;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

header a:hover img {
    transform: scale(1.1);
}

/* Search */
.search-form {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

#search-box {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#search-box:focus {
    border-color: #9077B1;
    box-shadow: 0 0 5px rgba(144, 119, 177, 0.5);
}

.search-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}

#search-results {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    display: none;
}

.results-header {
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
}

.service-group-item, .product-item {
    margin-bottom: 15px;
}

.service-group-item a, .product-item a {
    color: #000;
    text-decoration: none;
}

.service-group-item a:hover, .product-item a:hover {
    color: #000;
    text-decoration: underline;
}

.error {
    color: black;
    padding: 10px;
}

/* Main*/
main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #000;
}

h2 {
    border-bottom: 2px solid #9077B1;
    padding-bottom: 0.5em;
}

#goals, #service-groups {
    margin-bottom: 2em;
}

/* Logo Wall*/
.logo-wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 2em;
}

.logo-wall a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.logo-wall img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.logo-wall a:hover img {
    transform: scale(1.1);
}

/* Footer*/
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #f1f1f1;
}